<div>
    <h2 id="page-heading">
        <span jhiTranslate="covid19FightersApp.territorialDivision.home.title">Territorial Divisions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-territorial-division" [routerLink]="['/territorial-division/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="covid19FightersApp.territorialDivision.home.createLabel">
            Create a new Territorial Division
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'covid19FightersApp.territorialDivision.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="territorialDivisions?.length === 0">
        <span jhiTranslate="covid19FightersApp.territorialDivision.home.notFound">No territorialDivisions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="territorialDivisions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="covid19FightersApp.territorialDivision.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="covid19FightersApp.territorialDivision.type">Type</span></th>
                    <th scope="col" ><span jhiTranslate="covid19FightersApp.territorialDivision.country">Country</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let territorialDivision of territorialDivisions ;trackBy: trackId">
                    <td><a [routerLink]="['/territorial-division', territorialDivision.id, 'view']">{{ territorialDivision.id }}</a></td>
                    <td>{{ territorialDivision.name }}</td>
                    <td jhiTranslate="{{ 'covid19FightersApp.TerritorialDivisionType.' + territorialDivision.type }}">{{ territorialDivision.type }}</td>
                    <td>
                        <div *ngIf="territorialDivision.country">
                            <a [routerLink]="['/country', territorialDivision.country?.id, 'view']" >{{ territorialDivision.country?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/territorial-division', territorialDivision.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/territorial-division', territorialDivision.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(territorialDivision)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
